[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# pyobjc = "4.0"
# pyobjc-core = "4.0"
readchar = "*"
PyYAML = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
